</div>
<footer>
   
   <div class="container">
       <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero quidem est natus inventore earum veritatis repellendus molestiae cum, rem sed veniam sit dolore maiores unde voluptates nesciunt modi temporibus animi?</p>
   </div>
   
</footer>     
       
       
<!-- jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Bootstrap JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="./summernote/summernote.min.js"></script>
</body>
</html>