<div style="height: 120px;"></div>

<div class="main">
    <div class="grid wide">
        <div class="main__taskbar">
            <div class="main__breadcrumb">
                <div class="breadcrumb__item">
                    <a href="/" class="breadcrumb__link">Trang chủ</a>
                </div>
                <div class="breadcrumb__item">
                    <a href="/news" class="breadcrumb__link">Danh sách tin tức</a>
                </div>
            </div>
        </div>
        <div class="list-new">
            <div href="#" class="new-item">
                <a href="#" class="new-item__img">
                    <img src="https://hoaquafuji.com/storage/app/media/dau-tay-han-quoc-fuji-4.jpg" alt="">
                </a>
                <div class="new-item__body">
                    <a href="#" class="new-item__title">
                        Vì sao dâu tây Hàn Quốc dù đắt đỏ nhưng vẫn nổi tiếng đến vậy?
                    </a>
                    <p class="new-item__time"> Ngày đăng: 9/8/2022</p>
                    <p class="new-item__description">Lý do là trong điều kiện nhiệt độ thấp, dâu tây sẽ cho ra trái có
                        chất lượng tốt và hương vị thơm ngon hơn nhiều. Thông thường dâu tây chín trong vòng 1 tháng từ
                        28 đến 30 ngày, ít nhất là trong 20 ngày trong điều kiện tốt nhất.
                        Sau khi được hái, dâu tây Hàn Quốc sẽ được giữ ngoài mặt trời và đặt chúng trong điều kiện nhiệt
                        độ thấp càng nhanh càng tốt. Sau khi thu hoạch dâu được xử lý Co2 với nồng độ cao và được đựng
                        trong bao bì chuyên dụng.
                    </p>
                    <a href="#" class="btn btn--default">Xem thêm</a>
                </div>
            </div>
            <div href="#" class="new-item">
                <a href="#" class="new-item__img">
                    <img src="https://vtv1.mediacdn.vn/thumb_w/640/2021/5/28/cc-1622172209879452926173.jpg" alt="">
                </a>
                <div class="new-item__body">
                    <a href="#" class="new-item__title">
                        Vì sao dâu tây vải thiều Bắc Giang nổi tiếng đến vậy?
                    </a>
                    <p class="new-item__time"> Ngày đăng: 9/8/2022</p>
                    <p class="new-item__description">LRiêng đối với thị trường Nhật Bản tỉnh Bắc Giang tiếp tục chỉ đạo
                        30 mã số vùng trồng, diện tích gần 220 ha tại 3 huyện: Tân Yên, Lục Ngạn, Lục Nam. Trong năm
                        nay, cấp mới 05 mã số vùng trồng với diện tích 50 ha để xuất khẩu sang thị trường Nhật Bản và
                        thị trường khác; duy trì 01 cơ sở xông hơi khử trùng, đóng gói tại Bắc Giang, liên kết với 03 cơ
                        sở xông hơi khử trùng đảm bảo phục vụ nhu cầu xuất khẩu sang thị trường Nhật Bản.
                    </p>
                    <a href="#" class="btn btn--default">Xem thêm</a>
                </div>
            </div>
            <div href="#" class="new-item">
                <a href="#" class="new-item__img">
                    <img src="https://hoaquafuji.com/storage/app/media/dau-tay-han-quoc-fuji-4.jpg" alt="">
                </a>
                <div class="new-item__body">
                    <a href="#" class="new-item__title">
                        Vì sao dâu tây vải thiều Bắc Giang nổi tiếng đến vậy?
                    </a>
                    <p class="new-item__time"> Ngày đăng: 9/8/2022</p>
                    <p class="new-item__description">Lý do là trong điều kiện nhiệt độ thấp, dâu tây sẽ cho ra trái có
                        chất lượng tốt và hương vị thơm ngon hơn nhiều. Thông thường dâu tây chín trong vòng 1 tháng từ
                        28 đến 30 ngày, ít nhất là trong 20 ngày trong điều kiện tốt nhất.
                        Dây chuyền từ khi thu hoạch cho đến khi bảo quản, phân loại, đóng gói bán ra thị trường và xuất
                        khẩu ở các nước khác trên thế giới tốn không ít chi phí. Vừa là giống cây khá nhạy cảm, dễ bị
                        tổn thương do các điều kiện ngoại cảnh tác động cùng quy trình bảo quản để giữ dâu tây luôn được
                        tươi ngon khiến loại trái cây này được xếp vào hạng ‘’đắt đỏ’’. Giá dâu tây Hàn Quốc dao động
                        trong khoảng 600.000-1 triệu đồng/kg.
                    </p>
                    <a href="#" class="btn btn--default">Xem thêm</a>
                </div>
            </div>
            <div href="#" class="new-item">
                <a href="#" class="new-item__img">
                    <img src="https://hoaquafuji.com/storage/app/media/dau-tay-han-quoc-fuji-4.jpg" alt="">
                </a>
                <div class="new-item__body">
                    <a href="#" class="new-item__title">
                        Vì sao dâu tây vải thiều Bắc Giang nổi tiếng đến vậy?
                    </a>
                    <p class="new-item__time"> Ngày đăng: 9/8/2022</p>
                    <p class="new-item__description">Lý do là trong điều kiện nhiệt độ thấp, dâu tây sẽ cho ra trái có
                        chất lượng tốt và hương vị thơm ngon hơn nhiều. Thông thường dâu tây chín trong vòng 1 tháng từ
                        28 đến 30 ngày, ít nhất là trong 20 ngày trong điều kiện tốt nhất.

                    </p>
                    <a href="#" class="btn btn--default">Xem thêm</a>
                </div>
            </div>
            <div href="#" class="new-item">
                <a href="#" class="new-item__img">
                    <img src="https://hoaquafuji.com/storage/app/media/dau-tay-han-quoc-fuji-4.jpg" alt="">
                </a>
                <div class="new-item__body">
                    <a href="#" class="new-item__title">
                        Vì sao dâu tây vải thiều Bắc Giang nổi tiếng đến vậy?
                    </a>
                    <p class="new-item__time"> Ngày đăng: 9/8/2022</p>
                    <p class="new-item__description">Lý do là trong điều kiện nhiệt độ thấp, dâu tây sẽ cho ra trái có
                        chất lượng tốt và hương vị thơm ngon hơn nhiều. Thông thường dâu tây chín trong vòng 1 tháng từ
                        28 đến 30 ngày, ít nhất là trong 20 ngày trong điều kiện tốt nhất.
                        Nhưng nếu biết được quy trình trồng, thu hoạch dâu tây thì so với số tiền bỏ ra, bạn sẽ nhận
                        được một trái cây nhập khẩu vô cùng xứng đáng. Không những ngon mắt mà còn tốt cho sức khoẻ.
                    </p>
                    <a href="#" class="btn btn--default">Xem thêm</a>
                </div>
            </div>
        </div>
    </div>